
*{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}





/******* NAV ******/

.navegador{
    margin: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(32, 32, 32);
    height: 40px;
    border-radius: 10px;
}
.navegador li{
    padding-left: 5px;
    padding-top: 10px;
    display: inline-block;
    text-align: center;
}
.navegador li a{

    color: rgb(212, 204, 204);
    font-weight: bold;
    text-decoration: none;
    padding-right: 30px;
}



/********** HEADER **********/

header{
    background-color: rgb(75, 140, 238);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    border-radius: 10px;
}



/********* BODY *********/
body {
    
    background-color:  rgb(255, 115, 0);
    
}
h1{
    border-radius: 10px;
    color: white;
    padding-top: 15px;
    padding-left: 10%;
    
}
/********** ASIDE *******/
aside{
    
    margin-left: 8%;
    margin-right: 10px;
    float: left;
    background-color:  rgb(255, 115, 0);
    width: 23%;
    padding: 0% 0% 0% 2% ;
    
    text-align: left;
}

aside h3{
    background-color: rgb(161, 221, 255);
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 10px;
}

aside ul  {
    padding-left: 25px;
    padding-bottom: 10px;
}

aside ul li {
    padding-top: 20px;
    
    
}

aside ul li a{
    border-color: rgb(3, 164, 212);
    border-bottom-style: dotted;
    border-width: 2px;
    
}

.categorias{
    padding:  10px;
    background-color: white;
    border-radius: 10px;
}

.redes{
    padding:  10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    
}

.recientes{
    padding:  10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}

/********* DERECHA *******/
.derecha{

    background-color: white;
    margin-right: 10%;
    margin-left: 33.5%;
    border-radius: 10px;
}

/***** FOOTER *****/
footer{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    height: 40px;
    background-color: rgb(32, 32, 32);
    color: rgb(212, 204, 204);
    text-align: right;
    padding-top: 15px;
    padding-right: 30px;
    border-radius: 10px;

}
